{% extends "base_layer2.html" %}
{% load static %}

{% block cart %}

<div class = "container">


<div class="row">
<a style="color:green;font-size:large;padding-bottom:20px;padding-top:30px;">我的购物车</a>
</div>


<div class="row">

<table id="cart-table" class="table table-striped table-hover" >

  <thead>
    <tr>

      <th scope="col">商品名称</th>
      <th scope="col">金额：元</th>
      <th scope="col">数量</th>
      <th scope="col">小计</th>
      <th scope="col">购买</th>
	  

    </tr>
  </thead>
  
  <tbody>
{% for t in items %}
    <tr>
		<th scope="row">{{t.0}}</th>
		<td> {{ t.1 }}</td>
		<td>
			<label for="qnt-input" >数量: </label>
			<input type="number" id="qnt-{{t.3}}" style="width:50px;" value="{{t.2}}" > </input>
		</td>
		<td>
			<!-- 小计 -->
		</td>		
		<td>
			<!-- 购买 -->
			<input type="checkbox" id="ckb-{{t.3}}" style="width:20px;" > </input>
		</td>
    </tr>
{% endfor %}
  </tbody>

</table>   



<script type="text/javascript">
// caculate sum of each items in Cart

$(document).ready(function(){
		// set sum price
		//get <input> in table
		var inp = document.getElementById("cart-table").getElementsByTagName("input")
		var l = inp.length
		function sum_price(){
			var table = document.getElementById("cart-table"); 
			var rows = table.rows;   
			var sum = 0;
			
			for (i = 1; i < l+1; i++){
				var qn = 'qnt-' + (i-1);
				var price = rows[i].cells[1].innerText;
				
				var qnt = document.getElementById(qn).value;
				rows[i].cells[3].innerText = price*qnt;
			}
		}
		sum_price();

		//control input values
		//auto price 
		$("#cart-table").bind('input propertychange', function(){
			for (i = 0; i<l; i++){
				if( inp[i].value > 200 || inp[i].value < 1){
					inp[i].value = 1;
				}
			}
			sum_price();
		})
	})

</script>

</div>

<div class="row">
	<form method="post" >{% csrf_token %}
	<div class="form-group">
		<legend>总价: <input></input></legend> 
	<button type="submit" value="Save" >提交</button>
	</div>
</div>


</div>

{% endblock %}
