{% extends "base_layer2.html" %}
{% load static %}

{% block cart %}

<script type="text/javascript">

// 计算购物车里选中商品的总价；
// 将购物车中选中商品的明细（products 和 数量），订单总金额提交到后台。

$(document).ready(function(){
		// set sum price
		//get <input> in table
		sessionStorage.clear();
		//var inp = document.getElementById("cart-table").getElementsByTagName("input")
		var inp = document.getElementsByName("mycheckbox")
		var l = (inp.length)

		function sum_price(){
			var table = document.getElementById("cart-table"); 
			var rows = table.rows;   
			var sum = 0;
			
			for (i = 1; i < l+1; i++){
				//处理单项价格
				var qn = 'qnt-' + (i-1);
				var price = rows[i].cells[1].innerText;
				var qnt = document.getElementById(qn).value;
				rows[i].cells[3].innerText = price*qnt;
				//处理选中项目
				var cks = 'ckb-' + (i-1);
				
				//use sessionStorage to store data
				
				
				if(document.getElementById(cks).checked == true){
					sum += price*qnt;
					//sessionStorage.setItem(qn, (price*qnt));
					//sessionStorage.setItem("pd"+price, price);
					//也可以将商品名称明细存入session
					sessionStorage.setItem("sum", sum);
					//console.log(sessionStorage.getItem(qn));
					//console.log(sessionStorage.getItem("pd"+price));
					console.log(sessionStorage.getItem("sum"));
				}
				
			}
			//选中项目写入总价
			document.getElementById("sum-order").value = sum;
		}
		sum_price();

		//control input [quantity]
		//auto price 
		
		$("#cart-table").bind('input propertychange', function(){
			for (i = 0; i<l; i++){
				if( inp[i].value > 200 || inp[i].value < 1){
					inp[i].value = 1;
				}
				var cks = 'ckb-' + i;
				if (document.getElementById(cks).checked == false){
				sessionStorage.setItem("sum", 0);
				console.log("sessionstorage .sum = 0");
				}
			}
			sum_price();
		})
		
		//set addr from radio button
		
		getaddress = function(x){

			document.getElementById("addressbox").value = x.nextElementSibling.innerText
		}


		
		//$("btn-sum").click(function(){
		//	console.log("button");
		//})
		
		

	})



</script>


<div class="container">

<div class="row" id="row1">

	<div class="col-md-4  "> 
	<a style="color:green;font-size:large;padding-bottom:25px;padding-top:30px;">我的购物车</a>
	
	</div>

</div>


<div class="row" id="row2">

<div class="col-12">

<form method="post" action="/Order/" > {% csrf_token %} 

<div class="form-group">

	<div class="row" id="row2.1-table">
		<table id="cart-table" class="table table-striped table-hover" >

			<thead>
				<tr>

					<th scope="col">商品名称</th>
					<th scope="col">金额：元</th>
					<th scope="col">数量</th>
					<th scope="col">小计</th>
					<th scope="col">购买</th>

				</tr>
			</thead>
			
			<tbody>
			{% for t in items %}
			<!-- items[products, price, quantity, SN] -->
			<input hidden name="pdt-{{t.3}}" value="{{t.0}}" type="text"></input>
			
				<tr>
					<th scope="row">{{t.0}}</th>
					<td> {{ t.1 }}</td>
					<td>
						<label for="qnt-input" >数量: </label>
						<input type="number" id="qnt-{{t.3}}" name="ipt-{{t.3}}" style="width:50px;" value="{{t.2}}" > </input>
					</td>
					<td>
						<!-- 小计 -->
					</td>		
					<td>
						<!-- 购买 -->
						<input type="checkbox" name="mycheckbox" id="ckb-{{t.3}}" style="width:20px;" /> 
						<!-- <input type="checkbox" name="ckipt-{{t.3}}" name="mycheckbox" id="ckb-{{t.3}}" style="width:20px;" />  -->
					</td>
				</tr>
			{% endfor %}
			  </tbody>

		</table>   
	
	</div>
	
	<h5 class="page-header"></h5>

	<div class="row" >	
	<div class="col-md-4 offset-4 text-center">
	<div id="updatecart" class="btn btn-outline-danger">保存更改</div>
	</div></div>


	<div class="row show-grid row-cols-2" id ="row2.3-ChoseAddr" style="padding-top:40px;">
	
		<div class="col-md-4 ">
		
			<a>请选择/输入您的收货地址：</a><br>
			<textarea id="addressbox" name="addressbox" cols="30" rows="8">例如：</textarea>
			
		</div>
		
		<div class="col-md-8 col-md-offset-4">
		
			<table>
			{% for addr in addrs %}
				<tr>
				<td>
			<a>{{addr.addr_name}}</a>
			<input name="myaddr" type="radio" onclick="getaddress(this);"/>
			<p>
			{{addr.country}}{{addr.province}}
			{{addr.City}}{{addr.District}}
			{{addr.Street}}{{addr.Details}}
			{{addr.Receiver_name}}{{addr.Receiver_phone}}
			</p>
				</td>
				</tr>
				{% endfor %}
			</table>
			
		</div>
		<!-- <div class="col-sm-4 col-sm-offset-8"></div> -->
		
	</div>

	<h5 class="page-header"></h5>

	<div class="row row-cols-2" id="row2.2-submit" >

	<div class="col-md-6 ">
	<button  id="btn-sum" class="btn btn-outline-danger" type="submit" value="Save" >提交订单：</button> 
	</div>
	
	<div class="col-md-4 offset-6">
	<a> 总价：</a>
	<input id="sum-order" name="sum-cart" type="value" class="form-control" style="width:80px;" readonly="true" /> 
	</div>
	   
	</div>

</div><!-- end form-group -->

</form><!-- end form -->

</div>

</div> <!-- end row2 -->

</div>





{% endblock %}
