<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

	<!-- bootstrap CSS-->
	<link rel="stylesheet" href="{% static "bootstrap/bootstrap.css" %}"  crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "chartjs/Chart.css" %}"  crossorigin="anonymous">


	<title>农产品客户关系管理</title> 
</head>


<body>

<style>
.body{
	enable-gradients:True;
}
</style>

<script src="{% static "js/jquery-3.4.1.js" %}"></script>
<!-- <script src="{% static "chartjs/Chart.js" %}"></script> -->


<!-- load js -->
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<!-- <script src="{% static "js/vue.js" %}"></script> -->


<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="{% static "js/vue-production.js" %}"></script>

<script src="{% static "bootstrap/popper.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "bootstrap/bootstrap.js" %}"   crossorigin="anonymous"></script>


	<!-- navi bar -->
	<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">欢迎！</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/Portal/">主页 <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Portal/">APP（无）</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="/Fmarket/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				卖家登录
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/Fmarket/">下订单</a>
						<a class="dropdown-item" href="/Fmarket/">订单管理</a>
						<div class="dropdown-divider"></div>

					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">主营方：文叶叶的特优农产品市场</a>
				</li>
			</ul>
			<div class="form-inline my-2 my-lg-0">
				{% if user.username == '' %}
					<p><a href="/accounts/login/"><div class="">登录</div></a><p/>
				{% else %}
					<p>
						<div>您好：<a href="/User/home/">{{user.username}}, </a></div> 
						<div style="margin-left:20px;"><a href='/accounts/logout/'> 退出登录</a></div>
						</p>
					<p>
						<div style="margin-left:20px;"><a href="/Cart/"> 我的购物车</a></div>
					</p>
				{% endif%}
			</div>
				
			</div>
			</div>
		</nav>
		</div>
		<!-- end navi -->


	{% block layer2 %}
	
	{% endblock %}


	{% block Mainpage %}
		<!-- Mainpage -->
	{% endblock %}

	{% block dashboard %}

	{% endblock %}


	{% block customer_order_table %}
	<!-- customer_order_table -->
	{% endblock %}





<div class="container">

		<div class="row">
		
		{% block userlist %}
            <!-- User APP -->
		{% endblock %}
		
		
			
			<div class="col-md-4 offset-md-4" >
				<div class ="text-center">

	<!--            CUSTOMERS               -->
	{% block customers %}

	{% endblock %}

	{% block customers_create %}
		<!-- Customer_Create -->
	{% endblock %}

	{% block customers_update %}
		<!-- customers_update -->
	{% endblock %}

	{% block CustomerDelete %}
		<!-- CustomerDelete -->
	{% endblock %}

	{% block orders %}
		<!-- Orders -->
	{% endblock %}


	<!--            ORDERS              -->
	{% block order_detail %}
		<!-- order_detail -->
	{% endblock %}

	{% block ordre_update %}
			<!-- ordre_update -->
	{% endblock %}

	{% block OrderDelete %}
			<!-- CustomerDelete -->
	{% endblock %}

		<!--            SCORE              -->
	{% block ScoreEarn %}
		<!-- ScoreEarn -->
	{% endblock %}

	{% block orderscore_create %}
	<!-- score_create -->
	{% endblock %}

	{% block OrderScoreList %}
		<!-- OrderSocre -->
	{% endblock %}

	{% block orderscore_detail %}
		<!-- orderscore_detail -->
	{% endblock %}
	
	{% block querycustomerorder %}
	<!-- querycustomerorder -->
	{% endblock %}
    
    {% block login %}
    <!--login view-->
    {% endblock %}
	
	{% block perm-error %}

	{% endblock %}

			</div>
		</div>
	</div>
	</div>

<div class="container">
	<div class="row"  style="height:50px;">
		

	</div>
</div>

<style>
.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
	padding-bottom:0;
    background-color: black;
    color: #fff;
}
</style>
<div class="footer bg-white .bg-gradient-success text-dark modal-footer ">
<div class="container">
<div class="row">
<div class="col-6 offset-md-3">

	  
	  
	  	<div class="col-md-6 offset-md-3">
			<div class ="text-center"  style="">
				
				<a href = '/Portal/'>返回主页</a>
				<a href = '/accounts/logout'> 退出登录</a>
				<p>Coded by: Xun.Liu James Email: <a href="mailto:liuxun931@163.com">liuxun931@163.com</a></p>
			</div>
		</div>

</div>
</div>
</div>
</div> 

</body>
</html>
