<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static "bootstrap/bootstrap.css" %}"  crossorigin="anonymous">

	<title>农产品客户关系管理</title> 
</head>


			<body>
			
				<script src="{% static "js/jquery-3.4.1.js" %}"></script>

				<!-- vue.js -->
				<!-- 开发环境版本，包含了有帮助的命令行警告 -->
				<script src="{% static "js/vue.js" %}"></script>

				<!-- 生产环境版本，优化了尺寸和速度 -->
				<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

				<!-- Bootstrap -->
				<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
				<script src="{% static "bootstrap/popper.min.js" %}" crossorigin="anonymous">
				</script>
				<script src="{% static "bootstrap/bootstrap.js" %}"   crossorigin="anonymous">
				</script>


				<!-- navi bar -->
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">欢迎！</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">APP（无）</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							办理
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">顾客管理</a>
									<a class="dropdown-item" href="#">订单管理</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">管理登陆</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="#">主营方：文叶叶的特优农产市场</a>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
							</form>
							
						</div>
					</nav>

					<!-- end navi -->



<div class="container">

		<div class="row">
		
										<!--           Blocks              -->

    {% block product %}
    <!--login view-->
    {% endblock %}

    <!--           Blocks              -->
    
		</div>

							
							<div class="container">
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-4">
										<div class ="text-center" style="padding-bottom:20%;padding-top:20%;">

											<a href = '/Fmarket/'>返回主页</a>
											<a href = '/accounts/logout'> 退出登录</a>

										</div>
									</div>
								</div>
							</div>

						</div>


				
	
				</body>
			</html>
