{% extends "base.html" %}

{% block dashboard %}

<div class="container-fluid">





<div class="row " >

<div class="col-3">
<div class="alert alert-secondary" role="alert">
<p>col - 3</p>
</div>
<div class="alert alert-secondary" role="alert">
<p>col - 3</p>
</div>

<!-- <canvas id="myChart"  aria-label="Hello ARIA World" role="img"  -->
	<!-- sytle="position: relative; width:300px;height:150px;"> -->
	<!-- </canvas> -->
</div>




<div class="col-lg-6">

<div class="">
<p><span class="badge badge-secondary">col - 6</span></p>
</div>

	<div class="row ">	
	<div class="col-6 offset-md-3 ">
	<!-- <canvas id="goodCanvas1" width="400" height="100" aria-label="Hello ARIA World" role="img"></canvas> -->
	<!-- <script> -->
	<!-- var canvas = document.getElementById("goodCanvas1"); -->
	<!-- var ctx = canvas.getContext("2d"); -->
	<!-- ctx.font= "30px Comic Sans MS"; -->
	<!-- ctx.fillStyle = "green"; -->
	<!-- ctx.fillRect(0,0,400,100); -->
	<!-- ctx.fillStyle = "white"; -->
	<!-- ctx.textAlign = "center"; -->
	<!-- ctx.fillText("Hello ARIA World", canvas.width/2, canvas.height/2); -->
	<!-- </script> -->

	<!-- <canvas id="okCanvas2" aria-label="Hello Fallback World" role="img" width="100px;" height="100px;"> -->
		<!-- <p>Hello Fallback World</p> -->
	<!-- </canvas> -->

	<canvas id="myChart"  aria-label="Hello ARIA World" role="img" 
		sytle="position: relative;  maintainAspectRatio:true;aspectRatio:1;">
		</canvas>

	</div>
	</div>

</div>

<div class="col-3"> 
<a href="">col - 
   <span class="badge badge-pill badge-warning">3</span>
</a>


</div>

</div>
</div>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {

    type: 'bar',
    data: {
        labels: ['北京', '天津', '上海', '广州', '成都', '重庆'],
        datasets: [{
            label: '交易数量（笔）',
            data: [12, 9, 6.5, 8, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 0.5
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}
